#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gap {
	gap: 1rem;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
}

.square {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
	height: 80px;
	width: 80px;
	color: "black";
}
